body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./background.png);
}

.form {
  display: flex;
  flex-direction: column;
  width: 45%;
  font-weight: bold;
  font-size: 40px;
}

.header {
  text-align: center;
  font-size: 50px;
  margin: 0;
}

label {
  margin-top: 20px;
  text-align: center;
}

textarea {
  font-size: 30px;
  margin-top: 10px;
  width: 40%;
  height: 65%;
  border-radius: 50px;
  padding: 55px;
  box-sizing: border-box;
}

.send {
  --height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  min-height: var(--height);
  font-size: 30px;
  background-color: white;
  border: 2px solid rgb(70, 25, 17);
  border-radius: calc(var(--height)/2);
  cursor: pointer;
  outline: none;
}

.send:active {
  background-color: rgba(70, 25, 17, .3);
  ;
}

.parchment {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./ScrollGif_1.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  background-size: contain;
}